@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
body{background: #aaa;}

h3, p{
	font-family: "Happy Monkey";
	color: #555;
	margin-left: 30px
}

h3{font-size: 2em;}
p{margin-top:-20px;}

#puchox{
	width: 700px;
	height: 40px;
	margin-top: 20px;
	display: inline-block;
margin-left: 200px;
}

#filtro{
	background: rgba(215, 178, 20, 1);
	width: 120px;
	height: 40px;
	display: inline-block;
	float:  left;

}
#tobaco{
  	background: url(http://api.thumbr.it/whitenoise-361x370.png);
	width: 380px;
	height: 40px;
	display: inline-block;
	margin-left: -10;
	transition: width 10s;
	float:  left;
}

#filtro:hover + #tobaco{
	width: 10px;
	border-right: solid 5px red;
}
#cenizas{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC);
	width: 490px;
	height: 40px;
}